.header-wrapper {
	background-color: #121212;
	padding: 12px 74px;
  display: flex;
  justify-content: space-between;

  h1 {
    margin: 0px;
    text-align: left;
    color: white;
  }

  .search-container {
    align-self: center;

    label {
      color: white;
      font-size: 14px;
      margin-right: 16px;
    }
  }
}